body {
    background: #151515;
}
#notepadDiv {
    z-index: 1;
    position: fixed; bottom: 0px; left: 50%; transform: translateX(-50%);
    width: calc(100% - 10px); height: calc(100% - 30px);
    border: none; outline: none;
    color: white; font-size: 25px; font-family: Arial;
    overflow-y: auto;
}
#topBar {
    z-index: 10;
    position: fixed; top: 0px; left: 0px;
    height: 25px; width: 100%;
    display: flex;
}
#topBar select {
    background: #151515; color: white;
    border: none; outline: none;
    font-size: 17.5px;
    cursor: pointer;
}
#topBar select:focus, #topBar select:hover {
    background: white; color: black;
}
#topBar select option {
    border: none;
}
#topBar select optgroup {
    color: black;
}
